body {
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  color: green;
}

#snake {
  border: 1px solid #0f0;
  margin-top: 20px;
  background-color: #000;
}

#scoreBox {
  margin-top: 10px;
  font-size: 20px;
}

#restartBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#restartBtn:hover {
  background-color: limegreen;
}
#game-title {
  text-align: center;
  color:lavender;
  font-size: 2em;
  margin-bottom: 10px;
}

