body {
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  text-align: center;
  margin-top: 30px;
}

canvas {
  background-color: #111;
  border: 2px solid rgb(57, 150, 220);
}

h1 {
  margin-bottom: 10px;
}

#score {
  margin-top: 10px;
  font-size: 18px;
}
